$colors: (
    common: (
        white: #ffffff,
        black: #000000,
        black-soft: #0D1D25,
        black-2: #141515,
    ),
    heading: (
        primary: #0F5550,
    ),
    orange:(
        1: #E97A30,
        2: #FAF2ED,
    ),
    grey: (
        1:#ECEFF4,
        2: #F7F7F9,
        3: #E97A30,
        4: #C4C4C4,
        5: #A0A2A4,
    ),
    purple: (
        1:#7644FF,
        2:#A584FF,
    ),
    green: (
        1: #0F5550,
        2: #AEE3E0
    ),
    text: (
        body:#0D1D25,
        1:#777B83,
    ),
    theme: (
        1: #E97A30,

    ),
    border: (
        1: #FAF2ED,
        2: #D9DDE8,
        3: #313333,
        4: #2C2F2F,
    )
);
